In [62]:
#libraries
import numpy as np #linear algebra 
import pandas as pd #data manipulation
import matplotlib.pyplot as plt #data visualization
import seaborn as sns #statistical data visualization

#module
import ast #abstract syntax trees

In [63]:
#read the datasets
movies = pd.read_csv('Yenidataset/tmdb_5000_movies.csv')
credits = pd.read_csv('Yenidataset/tmdb_5000_credits.csv')

In [64]:
#just a peak at the datasets
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [65]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [66]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [67]:
#merge the two datasets on the 'title' column and show the before and after shapes
print("Before merge:", movies.shape, credits.shape)
movies = movies.merge(credits, on='title')
print("After merge:", movies.shape)

Before merge: (4803, 20) (4803, 4)
After merge: (4809, 23)

In [68]:
#features of the merged dataset
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [69]:
#decide on the features that are important for the project, remove the rest
movies = movies[['movie_id','vote_average','title','overview','genres','keywords','cast','crew']]
movies.head()

,movie_id,vote_average,title,overview,genres,keywords,cast,crew
0,19995,7.2,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,6.9,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,6.3,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,7.6,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,6.1,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [70]:
#detect missing values
movies.isnull().sum()

movie_id        0
vote_average    0
title           0
overview        3
genres          0
keywords        0
cast            0
crew            0
dtype: int64

In [71]:
#drop missing values 
movies.dropna(inplace=True)

In [72]:
#identify duplicate rows
movies.duplicated().sum()

0

In [73]:
#convert the string to list
def convert(text):
    list = []
    for i in ast.literal_eval(text):
        list.append(i['name'])
    return list

#apply the function to required features 
features = ['genres', 'keywords', 'cast']
for feature in features:
    movies[feature] = movies[feature].apply(convert)

In [74]:
#get the director's name from a feature
def get_director(text):
    list = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            list.append(i['name'])
    return list 

#apply the function to 'crew' and create a new column called 'director'
movies['director'] = movies['crew'].apply(get_director)

#remove 'crew'
movies = movies.drop('crew', axis=1)

In [75]:
#convert 'overview' to list form 
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.head()

,movie_id,vote_average,title,overview,genres,keywords,cast,director
0,19995,7.2,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,6.9,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,6.3,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,7.6,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,6.1,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [76]:
#merge all the columns inside of a new column called 'tags'
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['director']

#create a new dataset containing only id, title and tags
newDF = movies.drop(columns=['overview','genres','keywords','cast','director'])

#combine all the tags into a single string
newDF['tags'] = newDF['tags'].apply(lambda x: " ".join(x))
newDF.head()

,movie_id,vote_average,title,tags
0,19995,7.2,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,6.9,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,6.3,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,7.6,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,6.1,John Carter,"John Carter is a war-weary, former military ca..."

In [77]:
from sklearn.feature_extraction.text import TfidfVectorizer #convertion of raw documents to a matrix of TF-IDF features

#convert 'tags' to a matrix 
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(newDF['tags'])

In [78]:
from sklearn.neighbors import NearestNeighbors #learner for implementing neighbor searches

#fit a KNN model on 'tags'
knn = NearestNeighbors(n_neighbors=5, metric='cosine')
knn.fit(X)

NearestNeighbors(metric='cosine')

In [79]:
#collect all keywords from the user
all_keywords = []
for _ in range(5):
    print("Enter keyword: ")
    user_keywords = input()
    all_keywords.extend(user_keywords.split())

Enter keyword:
Enter keyword:
Enter keyword:
Enter keyword:
Enter keyword:

In [80]:
query = vectorizer.transform([' '.join(all_keywords)])
distances, indices = knn.kneighbors(query)
indices_flat = indices.flatten()
top_movies = newDF.iloc[indices_flat][['title', 'vote_average']]
top_movies = top_movies.sort_values(by='vote_average', ascending=False)

In [81]:
#print the result
print("Top 5 recommended movies:")
print(top_movies['title'])

Top 5 recommended movies:
672     Perfume: The Story of a Murderer
4433                              Charly
1831           Jimmy Neutron: Boy Genius
4515                        Love Letters
2752                       Baby Geniuses
Name: title, dtype: object